<a href="/productos">Ir a la lista</a>
<h2>Ingrese producto:</h2>
<form action="/productos" method="post">
  <label for="title">Nombre:</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="price">Precio:</label><br>
  <input type="text" id="price" name="price"><br>
  <label for="thumbnail">Foto URL:</label><br>
  <input type="text" id="thumbnail" name="thumbnail"><br>
  <input type="submit" value="Enviar">
</form>
<br>
